
body, html {
  height: 100%;
  width: 100%;	
  margin:0 0;
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lato",sans-serif;
  background: url(../imgs/b.jpg);
}
#container{width: 80%;height: 100%;background-color: rgba(7,7,7,0.7); margin: 0 auto; text-align: center; background-opacity: 0.7; color: white;}
	#container:after {
  content: "";
  display: table;
  clear: both;
}
	#detalhes{width: 40%; float: left}
	#detalhes table{
		border: 1px solid gray;
		border-collapse: collapse;
	}
	#detalhes td{
		border:1px solid lightgray;
	}
	.veic{
		width: 250px;
		height: 250px;
		display: inline-block;
		margin: 20px;
		color:black;
		text-align: center;
		background-color: white;
		box-shadow: 1px 3px 30px 1px black;
		cursor: pointer;
		opacity: 1;
	}
	.veic img{
		width: 90%;
		height: 80%;
		margin: 3px;
		margin-top: 5px;
	}

#categoria{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
}
#categoria button{
	 background-color: black; /* Green background */
  /*border: 1px solid darkgray; /* Green border */
  border: 1px solid white;

  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  width: 25%;
  font-size: 25px;
}

#categoria button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
/* Clear floats (clearfix hack) */
#categoria:after {
  content: "";
  clear: both;
  display: table;
}
/* Add a background color on hover */
#categoria button:hover {
  background-color: white;
  color: black;
}


	/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;

}
/* Modal Header */
.modal-header {
  background-color: black;
  color: white;
  font-size:50px;
  height: auto;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}
.modal-body img{
	width: 70%;
	height: 70%;
}
#tabela{
	margin: 0 auto;
	width: 60%;
	text-align: left;
border-collapse: collapse;
color:black;
}
#tabela thead th{
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	text-align: center;

}
#tabela tbody th{
border-right: 1px solid gray;
border-bottom: 1px solid gray;
width: 50%;
}
#tabela tbody td{
border-left: 1px solid gray;
border-bottom: 1px solid gray;
}
/* Modal Footer */
.modal-footer {
  /*padding: 2px 16px;*/
  background-color: #5cb85c;
  color: white;
  height: 70px;
}
.modal-footer form{
	width: 100%;
	height: 100%;
	background-color: black;
}
#btn{
	width: 100%;
	height: 100%;
	background-color: inherit;
	color: inherit;
	border: none;
	cursor: pointer;
	font-size: 50px;
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  font-size: 20px;
  animation-duration: 0.4s
}
.bool{
  width: 15px;
  height: 15px;
  max-width: 15px;
  max-height: 15px;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}